.story-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.story-title {
  color: black;
  text-align: center;
}

.story-content {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.story-img {
  width: 200px; 
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.story-text {
  flex: 1; /* Take up the remaining space */
  font-size: 18px;
  color: #333;
}
